#login, #signup{
	display: inline-block;
	float: right;
	background-color: #0A97F0;
}

#signup{
	margin-right: 10px;
}

#landing-page{
	margin-bottom: 0;
	padding: 10%;
}

#landing-page-heading,
#landing-page-description,
#landing-page-log-in,
#landing-page-sign-up{
	font-family: 'Ubuntu', sans-serif;
}

#landing-page-heading{
	font-weight: 700;
}

#landing-page-description{
	color: #0A97F0;
	font-weight: 400;
}

#landing-page-log-in,
#landing-page-sign-up{
	padding-left: 5px;
}

#landing-page-img{
	min-height: 650px;
	background-size: cover;	
	opacity: 0.6;
}

.fa .fa-google{
	color: black;
}
