.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

html, body{
    height: 100%;
    font-size: 100%;
	margin: 0;
	border-top: 1px solid #0A97F0;
}

.side-bar{
	width: 30%;
	height: 100%;
	margin: 0;
	padding-top: 1rem;
	float: left;
}

@media(max-width: 640px){
	.side-bar, .message-container{
		width: 50%;
		height: 30%;
		margin: 0;
	}
	
	#room{
		padding: 0px;
	}
	
	#new-message-submit{
		width: auto;	
	}
}