<div class="jumbotron" id="landing-page">
  <h1 id="landing-page-heading">Bloc Chat</h1>
	<hr>
  <p id="landing-page-description">Please log in or sign up using a google account to enjoy this awesome app</p>
  <div class="container">
	  <button class="btn btn-success btn-lg" id="login">
		  <span class="fa fa-google" ng-click="signIn()"><span id="landing-page-log-in">Log in</span></span>
	  </button>
<!--
  	  <button class="btn btn-success btn-lg" id="signup">
		  <span class="fa fa-user-plus"><span id="landing-page-sign-up">Sign up</span></span>
	  </button>
-->
	</div>
</div>
<div id="landing-page-img">
	<img>
</div>
